{% extends 'polla/base.html' %}
{% block title %} POLLA {% endblock %}
{% block content %}
<div class="container">
  <form method="post">
    {% csrf_token %}
    <table class="table">
      <thead>
        <th>Equipo Local</th>
        <th>Equipo Visita</th>
        <th>Fecha Partido</th>
        <th>Quien gana?</th>
      </thead>
      <tbody>
        {% if partidos %}
        {% for partido in partidos %}
        <tr>
          <td>{{ partido.eq_local }}</td>
          <td>{{ partido.eq_visita }}</td>
          <td>{{ partido.fecha }}</td>
          <td>
            <input type="radio" name="a_partido_id={{ partido.id }}" value="1"> Gana local<br>
            <input type="radio" name="a_partido_id={{ partido.id }}" value="2"> Gana visita<br>
            <input type="radio" name="a_partido_id={{ partido.id }}" value="3"> Empate
          </td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
    <div align="center">
        <button class="btn" type="submit">Enviar Polla</button>
    </div>
  </form>
</div>
{% endblock %}
